

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", system-ui;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.bgImage{
    background-image: 
        linear-gradient(transparent, rgba(0, 0, 0, 1.3)), /* Bottom gradient */
        linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2)), /* Right gradient */
        linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2)), /* Left gradient */
        linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2)), /* Top gradient */
        url('./assets/images/login-bg.jpeg'); /* Background image */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    position: absolute;
    width: 100%;
}

.head1 h1{
    font-family: "Montserrat", system-ui;
}
.head2{
    font-family: "Montserrat", system-ui;
}
.btn{
    font-family: "Montserrat", system-ui;
}
.trendHead{
    font-family: "Montserrat", system-ui;
}
.para{
    font-family: "Montserrat", system-ui;
}

    
